*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #e27ecb;
}
/* home-container */

.home{
    display: block;
    justify-items: center;
    margin-top: 50px;
}
.home h1{
    font-size: 50px;
}
.home p{
    font-size: 20px;
}
.logo{
    height: 100px;
    width: 100px;
    animation: 3s rotate linear infinite;
}
@keyframes rotate {
    100%{
        transform: rotate(-360deg);
    }
}
.surprise{
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: .5s;
}
.surprise:hover{
    color: #ffffff;
    background-color: black;
}
/* wish-container */

.wish-container{
    background: #c9afbc;
    margin: 50px 20px;
    padding: 50px;
    height: 150px;
    border-radius: 30px;
}
.wish{
    font-size: 40px;
    text-align: center;
}
.thank-you{
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
.thank-you:hover{
    color: #ffffff;
    background-color: black;
}
.page1{
    justify-content: center;
}
.image-card{
    height: 600px;
    width:500px;
    background: #ffffff;
    margin: 20px;
}
.card-img{
    height: 400px;
    width: 450px;
    padding: 20px;
    border-radius: 30px;
}
.message{
    color: #000;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.next{
    padding: 10px 30px;
    margin-top:10px;
    position: relative;
    left: 40%;
    font-weight: 600;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.png{
    height: 100px;
    width: 100px;
}